[run]
omit =
    */.local/*
    */virtualenv/*
    */venv/*
    /usr/*
    staging/*
    tests/*

[report]
omit =
    */.local/*
    */virtualenv/*
    */venv/*
    /usr/*
    staging/*
    tests/*
    tests_env/*
